<?xml version="1.0" ?>
<robot name="box">
  <joint name="clamp_h_1_joint" type="prismatic">
    <parent link="base_link"/>
    <child link="clamp_h_1_link"/>
    <axis xyz="0.00000 0.00000 -1.00000"/>
    <limit effort="1000.0" lower="0" upper="0.2" velocity="2.0"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.01390 -0.13998 0.97687"/>
  </joint>
  <joint name="clamp_h_2_joint" type="prismatic">
    <mimic joint="clamp_h_1_joint"/>
    <parent link="base_link"/>
    <child link="clamp_h_2_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
    <limit effort="1000.0" lower="0" upper="0.2" velocity="2.0"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.01390 -0.13998 0.20239"/>
  </joint>
  <joint name="clamp_v_1_joint" type="prismatic">
    <parent link="base_link"/>
    <child link="clamp_v_1_link"/>
    <axis xyz="1.00000 0.00000 0.00000"/>
    <limit effort="100.0" lower="0" upper="0.2" velocity="2.0"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.37827 -0.15098 0.57782"/>
  </joint>
  <joint name="clamp_v_2_joint" type="prismatic">
    <mimic joint="clamp_v_1_joint"/>                    
    <parent link="base_link"/>
    <child link="clamp_v_2_link"/>
    <axis xyz="-1.00000 0.00000 0.00000"/>
    <limit effort="100.0" lower="0" upper="0.2" velocity="2.0"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.40400 -0.15098 0.57452"/>
  </joint>
  <joint name="gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.21299 1.94386 -1.33887"/>
  </joint>
  <joint name="lid_left_joint" type="revolute">
    <parent link="base_link"/>
    <child link="lid_left_link"/>
    <axis xyz="0.00000 0.00000 -1.00000"/>
    <limit effort="100000.0" lower="0" upper="1.57" velocity="1.00000"/>
    <origin rpy="0.00000 0.00000 0" xyz="0.55819 -0.51697 0.58105"/>
  </joint>
  <joint name="lid_right_joint" type="revolute">
    <mimic joint="lid_left_joint"/> 
    <parent link="base_link"/>
    <child link="lid_right_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
    <limit effort="100000.00" lower="0" upper="1.57" velocity="1.00000"/>
    <origin rpy="0.00000 0.00000 0" xyz="-0.56418 -0.51697 0.58105"/>
  </joint>
  <link name="base_link">
    <origin rpy="0 0.00000 0.00000" xyz="0 0 0"/>
    <collision name="base_collision">
      <origin xyz="0.00000 -0.46647 0.58282" rpy="-0.00000 0.00 -0.00000"/>
      <geometry>
          <box size="1.04977 0.61172 1.13211"/>
      </geometry>
    </collision>
    <collision name="base_collision.000">
      <origin xyz="-0.01570 0.63546 -1.38812" rpy="-0.00000 0.00000 0.00000"/>
      <geometry>
          <box size="0.72424 2.80801 0.36035"/>
      </geometry>
      <surface>
        <contact/>
      </surface>
    </collision>
    <inertial>
      <inertia ixx="5" ixy="0" ixz="0" iyy="5" iyz="0" izz="5"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00725 -0.09552 0.12968"/>
      <mass value="20.00000"/>
    </inertial>
    <visual>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="$(find box_simulation)/meshes/dae/BOX PAD1.0_simple.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="clamp_h_1_link">
    <collision name="clamp_h_1_collision">
      <origin rpy="-0.00000 0.00000 0.00000" xyz="0.20780 -0.00077 0.01984"/>
      <geometry>
        <box size="0.69164 0.01761 0.03000"/>
      </geometry>
    </collision>
    <collision name="clamp_h_1_collision.000">
      <origin rpy="0.00292 0.00002 -0.00605" xyz="-0.12625 -0.00077 -0.02087"/>
      <geometry>
        <box size="0.03000 0.01761 0.10710"/>
      </geometry>
    </collision>
    <collision name="clamp_h_1_collision.000.001">
      <origin rpy="-0.00000 0.00000 0.00000" xyz="-0.35312 -0.00077 -0.09766"/>
      <geometry>
        <box size="0.34019 0.01761 0.03000"/>
      </geometry>
    </collision>
    <collision name="clamp_h_1_collision.000.001.002">
      <origin rpy="-0.00000 -0.55460 0.00000" xyz="-0.15378 -0.00077 -0.08179"/>
      <geometry>
        <box size="0.08315 0.01761 0.03000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0.00" izz="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.50000"/>
    </inertial>
    <visual>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="$(find box_simulation)/meshes/dae/BOX PAD1.0_simple.002.dae" scale="0.00100 0.00100 0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="clamp_h_2_link">
    <collision name="clamp_h_2_collision">
      <origin rpy="-0.00000 0.00000 0.00000" xyz="0.20681 -0.00077 -0.01990"/>
      <geometry>
        <box size="0.69923 0.01761 0.03"/>
      </geometry>
    </collision>
    <collision name="clamp_h_2_collision.000">
      <origin rpy="-0.00000 0.00000 0.00000" xyz="-0.34567 -0.00077 0.09961"/>
      <geometry>
        <box size="0.31117 0.01761 0.03"/>
      </geometry>
    </collision>
    <collision name="clamp_h_2_collision.000.001">
      <origin rpy="-0.00000 0.00000 0.00000" xyz="-0.12996 -0.00077 0.01855"/>
      <geometry>
        <box size="0.03 0.01761 0.10126"/>
      </geometry>
    </collision>
    <collision name="clamp_h_2_collision.000.001.002">
      <origin rpy="-0.00000 0.55460 0.00000" xyz="-0.15741 -0.00077 0.08258"/>
      <geometry>
        <box size="0.08223 0.01761 0.03"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0.00" izz="0.001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0 0 0"/>
      <mass value="0.50000"/>
    </inertial>
    <visual>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="$(find box_simulation)/meshes/dae/BOX PAD1.0_simple.004.dae" scale="0.00100 0.00100 0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="clamp_v_1_link">
    <collision name="clamp_v_1_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00079 -0.00109 0.00183"/>
      <geometry>
        <box size="0.03586 0.01435 1.08057"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0.00" izz="0.001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0 0 0"/>
      <mass value="0.50000"/>
    </inertial>
    <visual>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="$(find box_simulation)/meshes/dae/BOX PAD1.0_simple.006.dae" scale="0.00100 0.00100 0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="clamp_v_2_link">
    <collision name="clamp_v_2_collision">
      <origin rpy="-0.00000 0.00000 0.00000" xyz="0.07289 0.00244 0.00360"/>
      <geometry>
        <box size="0.03787 0.01538 1.07532"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0.00" izz="0.001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0 0 0"/>
      <mass value="0.50000"/>
    </inertial>
    <visual>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00001 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="$(find box_simulation)/meshes/dae/BOX PAD1.0_simple.005.dae" scale="0.00100 0.00100 0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="gps_link">
    <visual>
      <origin rpy="-0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00012"/>
      <geometry>
        <mesh filename="$(find box_simulation)/meshes/dae/BOX PAD1.0_simple.007.dae" scale="0.00100 0.00100 0.00100"/>
      </geometry>
    </visual>
    <inertial>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0 0 0"/>
      <mass value="0.0100"/>
    </inertial>
  </link>
  <link name="lid_left_link">
    
    <inertial>
      <inertia ixx="0.001" ixy="0.0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.0 0.0 0.00000"/>
      <mass value="1.00000"/>
    </inertial>
    <visual>
      <origin rpy="-0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="$(find box_simulation)/meshes/dae/BOX PAD1.0_simple.001.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Gazebo/Orange"/>
    </visual>
  </link>
  <link name="lid_right_link">
    <inertial>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.0 0.0 0.00000"/>
      <mass value="1.00000"/>
    </inertial>
    <visual>
      <origin rpy="-0.00000 -0.00000 -0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="$(find box_simulation)/meshes/dae/BOX PAD1.0_simple.003.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Gazebo/Blue"/>
    </visual>
  </link>
  <gazebo reference="lid_left_link">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo reference="lid_right_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="base_link">
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="clamp_v_1_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="clamp_v_2_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="clamp_h_1_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="clamp_h_2_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="gps_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="clamp_h_1_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="clamp_h_2_joint">
      <param name="mimic">clamp_h_1_joint</param>
      <param name="multiplier">1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="clamp_v_1_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="clamp_v_2_joint">
      <param name="mimic">clamp_v_1_joint</param>
      <param name="multiplier">1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="lid_left_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="lid_right_joint">
      <param name="mimic">lid_left_joint</param>
      <param name="multiplier">1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <!-- <namespace>/robot1</namespace> -->
      <!-- <robot_param>robot_description1</robot_param> -->
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find box_simulation)/config/box_controller.yaml</parameters>
    </plugin>
    <include>
      <uri>model://tag</uri>
      <pose>0 -0.165 0.58 1.5708 1.5708 0</pose>
      <name>tag</name>
    </include>
    <joint name='tag_joint' type='fixed'>
      <child>tag::link</child>
      <parent>base_link</parent>
    </joint>
  </gazebo>
  <gazebo reference="gps_link">
    <sensor name="my_gps" type="gps">
        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <gps>
          <position_sensing>
            <horizontal>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </horizontal>
            <vertical>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </vertical>
          </position_sensing>
        </gps>
        <plugin name="my_gps_plugin" filename="libgazebo_ros_gps_sensor.so">
          <ros>
            <namespace>/gps</namespace>
            <remapping>~/out:=fix</remapping>
          </ros>
        </plugin>
      </sensor>
  </gazebo>
   <!-- <gazebo>
    <plugin filename="libhector_gazebo_ros_gps.so" name="gazebo_ros_gps">
      <updateRate>5.0</updateRate>
      <bodyName>gps_link</bodyName>
      <frameId>gps_link</frameId>
      <topicName>/gps/fix</topicName>
      <velocityTopicName>/gps/fix_velocity</velocityTopicName>
      <referenceLatitude>20.960012</referenceLatitude>
      <referenceLongitude>105.746128</referenceLongitude>
      <referenceHeading>90</referenceHeading>
      <referenceAltitude>488.0</referenceAltitude>
      <offset>0 0 0</offset>
      <drift>0.000 0.000 0.00</drift>
      <gaussianNoise>0.0001 0.0001 0.0001</gaussianNoise>
      <velocityDrift>0.000 0.000 0.000</velocityDrift>
      <velocityGaussianNoise>0.5 0.5 0.5</velocityGaussianNoise>
    </plugin>
  </gazebo> -->
</robot>
